html, body {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background-color: #222;
    color:#eee;
    width: 100%;
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

.hljs {
	padding: 12px;
}
code {
	padding:12px;
	white-space: normal;
}

::-webkit-input-placeholder {
   color: #444;
}

:-moz-placeholder { 
   color: #444;  
}

::-moz-placeholder { 
   color: #444;  
}

.center {
	margin:auto;
}

.shards {
	height:400px;
}

.main {
	max-width:1020px;
	padding:24px;
	.content {
		padding:12px;
		background:#eee;
		color:#000;
	}
	#frame {
		font-family: 'Share Tech Mono', monospace;
		color:#333;
	}
}